<!-- <p>app works!</p> -->
<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/first-component" routerLinkActive="active" >First Component</a></li>
    <li><a routerLink="/second-component" routerLinkActive="active" >Second Component</a></li>
    <li><a routerLink="/sample" routerLinkActive="active" >sample</a></li>
    <li><a routerLink="/post" routerLinkActive="active" >post</a></li>
    <li><a routerLink="/home" routerLinkActive="active" >home</a></li>
  </ul>
</nav>
<hr>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
